.button {
    display: block;
    padding: 5px 12px;
    color: white;
    background-color: cadetblue;
    border: 0;
    border-radius: 10px;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.8;
    background-color: steelblue;
}

.disabled {
    opacity: 0.3;
}
.disabled:hover {
    opacity: 0.3;
}
